<% provide(:title, "Log in") %>
<h1>Log in</h1>
<%= form_with(url: login_path, scope: :session) do |f| %>
  <div class="col-md-6 col-md-offset-3 mx-auto mt-10">
    <%= form_with(url: login_path, scope: :session) do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %><%= f.submit "Log in", class: "btn btn-primary" %>
      <div class="form-check">
        <%= f.label :remember_me, class: "form-check-label d-flex align-items-center mt-2 mb-2" do %>
          <%= f.check_box :remember_me, class: "align-middle w-25 m-0"  %> <span>Remember me on this computer</span>
        <% end %>
      </div>
    <% end %>
    <p>New user?
      <%= link_to "Sign up now!", signup_path %></p>
  </div>
<% end %>
