<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "sample app", root_path, id: "logo" %>
    <nav class="w-50">
      <ul class="navbar nav-navbar">
        <li class="nav-item"><%= link_to "Home", root_path %></li>
        <li class="nav-item"><%= link_to "Help", help_path %></li>
        <li class="nav-item"><%= link_to "About", about_path %></li>
        <li class="nav-item"><%= link_to "Contact", contact_path %></li>
        <% if logged_in? %>
          <li class="nav-item"><%= link_to "My Profile", current_user %></li>
          <li class="nav-item"><%= link_to "Log out", logout_path, data: { "turbo-method": :delete } %></li>
        <% else %>
          <li class="nav-item"><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
